body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.fondo{/*FONDO BANNER*/
	background-image: url(../image/large.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 10%;
}
.logo{/*LOGO*/
	width: 40%;
}
.icono{/*ICONOS*/
	font-size: 3em;
}
.bordeicono{/*MARGEN CON ESTILO DE LOS ICONOS*/
	border-radius: 100%;
	width:40%;
	height: 90px;
	box-shadow: -1px 3px 5px #999;
}
.boton{/*BOTONES*/
	padding: 2%;
	border: solid white 2px; 
	border-radius: 5px;
	margin-top: 5%;
}
.fondo2{/*FONDO del medio*/
	background-image: url(../image/sec-2.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-bottom:50%;
}
.fondo3{/*FONDO ultimo*/
	background-image: url(../image/banner.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-bottom:40%;
}
.black{/*BACKGROUND NEGRO*/
	background-color: black;
	height: auto;
	text-decoration: none;
}
.social{/*redes sociales*/
	font-size: 2em;
}
.iconoazul{/*ICONOS AZULES CON ANIMACION*/
	background-color: #58ACFA;
	border-radius: 100%;
	width: 10%;
	height: 55px;
	padding: 3%;
	font-size: 1.5em;
	position: relative;
	right: 8%;	
}
/*ANIMACION*/
.move{
  	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.move:hover{
  	border-radius: 50%;
  	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
/*CONTACT*/
#formulario{
	background-color: white;
	width: 100%;
	border-top: 5px solid #58ACFA;
}
span{/*obligatorio*/
	color: red;
}
/*UTILES*/
.bco{
	color: white;
}
.mg-t{
	margin-top: 5%;
}
.mg-b{
	margin-bottom: 5%;
}
.pd-t{
	padding-top: 5%;
}
.pd-b{
	padding-bottom: 5%;
}
.mg{
	margin:5%;
}
.pd{
	padding: 5%;
}
.azul{
	background-color: #58ACFA;
}
.textazul{
	color: #58ACFA;
}
a{
	text-decoration: none;
}
/*MEDIA*/
@media screen and (max-width: 600px) {
	body .navegador{
		background-color: #5858FA;
	}
	body .navegador span.icon-bar, body ul>li{
		color: white;
	}
}